.header {
  border-bottom: 8px solid;
}
.nav_border {
  border-bottom: 3px solid;
}
.content {
  margin: 25px 10px;
  padding: 25px 10px;
}
.menu {
  text-align: center;
  font-size: 20px;
}
.footer {
  border-top: 4px solid;
}

body {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
h4 {
  font-size: 16px;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}
.main-content {
  padding: 10px;
}

.logo-header {
  text-align: center;
  border-bottom: 5px solid;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-link-wrapper {
  margin-left: 17px;
  padding-top: 5px;
}
.sticky-element {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
}
.sticky-content.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-wrapper {
  position: fixed;
  top: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 6;
}
.chat-online {
  position: absolute;
  left: 20px;
  min-width: 350px;
  background: #efefef;
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
}
.nav-block {
  width: 163px;
  margin-bottom: 12px;
}
.chat-online-items {
  position: relative;
  height: 55vh;
  overflow-y: auto;
  background-repeat: no-repeat;
  background-position: top right;
}
.menu-title {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding-top: 6px;
  padding-bottom: 6px;
}
.nav {
  padding-top: 10px;
  padding-bottom: 12px;
}
.chat-online-item {
  display: flex;
  justify-content: space-between;
  color: #000000;
  padding-left: 17px;
  padding-right: 17px;
}
.user-online {
  align-self: center;
}
.icon-chat {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-chat-user {
  width: 18px;
  height: 18px;
  margin-left: 20px;
}
.nick-chatter {
  display: inline-block;
  width: 165px;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  vertical-align: bottom;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 15px;
}
.chat-online-wrapper {
  position: relative;
}
.chat-online-wrapper::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 34px;
  background: url("../svg/pointer.svg") no-repeat;
  top: -24px;
}
.chat-online-wrapper::before {
  left: 10px;
}
.main-nav__toggle,
.nav-user__toggle,
.mail-input {
  display: block;
  position: absolute;
  top: 20%;
  z-index: 2;
  width: 32px;
  height: 32px;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  -webkit-appearance: none;
}
.main-nav__toggle {
  left: 20px;
  top: 20px;
}
.number-user {
  position: absolute;
  left: 60px;
  top: 5px;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  background: #ff0000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 1px 8px;
}
.main-nav__toggle .icon-menu_item,
.nav-user__toggle .icon-menu_user,
.input-links .icon-login,
.mail-input .icon-mail_bw {
  width: 32px;
  height: 32px;
  fill: #ffffff;
}
.modal_div {
  display: none;
  z-index: 7;
}
.nav-user__toggle {
  right: 20px;
}

/*Настройки текста, иконка*/

.input-settings {
  position: absolute;
  top: 17px;
  right: 20px;
}
.input-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #ffffff;
}

/*Форма настроек (модальная)*/

.modal-content {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  left: 50%;
  z-index: 6;
}
.popup-close {
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  font-size: 0;
  background: #c4c4c4;
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close {
  top: 3px;
  right: 10px;
}
.popup-close::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
  background: url("../svg/menu_close.svg") no-repeat;
  background-size: 100%
}
.popup-close:hover {
  background: #eb1e1e;
}
.registration {
  margin-top: 20px;
}
.register-icon {
  margin-right: 10px;
}
.registration-block {
  position: absolute;
  display: none;
  min-width: 600px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 150px;
  background: #efefef;
  border: 1px solid #000000;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25),
              4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: auto;
}
.registration-block-settings {
  min-width: 300px;
}
.icon-svg-registration {
  padding-bottom: 4px;
}
.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  max-width: 670px;
  margin-bottom: 20px;
}
.btn {
  width: 90px;
  color: #ffffff;
  background: #0020c8;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 5px;
  margin-top: 14px;
  margin-bottom: 15px;
}
.form-label {
  display: block;
  font-family: "Tahoma", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}
.form-field {
  width: 141px;
  height: 25px;
  font-size: 24px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
}
.form-group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 298px;
}
.form-group {
  margin-bottom: 15px;
}
.form-label {
  font-size: 13px;
}
.form-group-checkbox {
  margin-top: 12px;
}
.btn-registration {
  width: 227px;
  height: 38px;
}
.btn-chat-complain {
  margin-bottom: 10px;
}
.registration-link {
  line-height: 30px;
}
.registration-links {
  margin-top: 10px;
}

.modal-content-show {
  -webkit-animation: bounce 0.9s;
  animation: bounce 0.9s;
}
.modal-main-show {
  -webkit-animation: fly-left 0.5s;
  animation: fly-left 0.5s;
}
.modal-user-show {
  -webkit-animation: fly-right 0.5s;
  animation: fly-right 0.5s;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fly-left {
  0%   { left: -200px; }
}
@keyframes fly-left {
  0%   { left: -200px; }
}
@-webkit-keyframes fly-right {
  0%   { right: -200px; }
}
@keyframes fly-right {
  0%   { right: -200px; }
}

/*overlay*/

.menu-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
}
.modal-overlay-show,
.menu-overlay-show {
  display: block;
}

.chat-online .color_main_fon,
.nav-user .color_main_fon,
.menu-title-wrap .color_main_fon {
  background: #ffffff;
}
.main-nav .header,
.nav-user .header,
.registration-wrapper .color_main_fon {
  border-bottom: 2px solid #bdbdbd;
}

.form-template {
  display: table;
  margin: auto;
}
.select-group-template {
  margin-bottom: 20px;
}
.font-form-template {
  display: block;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-label-template {
  display: block;
}
.form-field-template {
  width: 648px;
  height: 26px;
}
.message {
  padding: 15px 15px 0;
}
.message-field-template {
  width: calc(100% - 22px);
  font-size: 18px;
  background: #ffffff;
  border: 1px solid #9c9898;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px rgba(156, 152, 152, 0.3);
          box-shadow: 0 2px 2px rgba(156, 152, 152, 0.3);
  padding: 5px 10px 0;

}
.input-refinement {
  display: block;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
}
select {
  width: 270px;
  height: 34px;
  font-size: 18px;
  border: 1px solid #9c9898;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(156, 152, 152, 0.3);
          box-shadow: 0 2px 2px rgba(156, 152, 152, 0.3);
  -webkit-appearance: none;
    -moz-appearance: none;
      -ms-appearance: none;
  appearance: none;
  background: #ffffff url("../svg/select_btn.svg") no-repeat right -2px center;
  outline: 0;
  background-size: 33px 33px;
  padding-left: 7px;
  padding-right: 32px;
}
select::-ms-expand {
  display: none;
}
.btn-template {
  width: 300px;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.content-title,
.content-text,
.accent-text {
  text-align: center;
}
.accent-text {
  color: #f20000;
  font-weight: bold;
  margin-bottom: 20px;
}
.main-content .link-faq {
  display: block;
  color: #f20000;
  text-decoration: underline;
}
.content-text {
  max-width: 669px;
  margin: 10px auto 60px auto;
}

    /*Футер*/

.footer-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
}
.footer-wrap {
  width: 100%;
  height: 8px;
}
.footer-text {
  display: flex;
  text-align: center;
  background: #d7dadf;
  padding: 10px 5px;
}
.icon-svg-text {
  display: inline-block;
  width: 32px;
  height: 32px;
  align-self: center;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
}
.input-message {
  width: 100%;
  font-size: 17px;
  background: #ffffff;
  border: 1px solid #c8c7cc;
  border-radius: 106px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  margin-right: 5px;
}
.chat-text {
  font-family: "Roboto", "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  padding: 0 10px;
  margin-bottom: 80px;
  margin-top: 80px;
}
.chat-line {
  margin-bottom: 5px;
}
.btn-say {
  outline: none;
  border: none;
  background: transparent;
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 1023px) {
  .input-settings {
    top: 11px;
  }
  .nav-wrapper {
    top: 84px;
  }
  .main-nav__toggle {
    top: 10px;
  }
  .chat-online {
    min-width: 318px;
  }
  .nick-chatter {
    padding-left: 8px;
  }
  .registration-block {
    min-width: 400px;
    top: 85px;
  }
  .registration-block-settings {
    min-width: 300px;
  }
  .footer-text {
    padding: 10px 0;
  }
  .chat-text {
    line-height: 22px;
    margin-top: 65px;
  }
}

@media (max-width: 767px) {
  .chat-online {
    left: 0;
  }
  .nav-wrapper {
    top: 70px;
  }
  .main-nav__toggle {
    left: 10px;
    top: 10px;
  }
  .number-user {
    left: 43px;
    top: 4px;
    font-size: 14px;
    line-height: 17px;
    padding: 0 6px;
  }
  .input-settings {
    top: 9px;
    right: 10px;
  }
  .main-nav__toggle .icon-menu_item,
  .input-links .icon-login {
    width: 24px;
    height: 24px;
  }
  .registration-block {
    min-width: 300px;
    top: 70px;
  }
  .icon-svg-text {
    width: 24px;
    height: 24px;
  }
  .input-message {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .chat-text {
    line-height: 24px;
    padding: 0;
    margin-top: 45px;
  }
  .chat-line {
    margin-bottom: 7px;
  }
  .footer-wrap {
    height: 6px;
  }
  .footer {
    border-top: 3px solid;
  }
  .btn-say {
    margin-left: 2px;
    margin-right: 2px;
  }
}
