.tblog_design {
  margin-top: 5px;
  border : 1px solid #9F9F9F;
}
.tblog_head_center {
  color: #F7F7F7;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-transform: lowercase;
}
.small{
  color: #000000;
  font-size: 0.8em;
}
a.link_top{
  color: #161b38;
  text-decoration: none;
}
a:hover.link_top{
  color: #4447c5;
}
a.autor_last {
  font-size: 14px;
  text-decoration: none;
}
.pointer {
  cursor: pointer;
  font-weight : bold;
}
.gorizont_pic {
  float: left;
  margin-right: 1.25rem;
  width: 13rem;
  height: 6.25rem;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #000000;
}

.top_title {
  margin: 0px;
  padding: 0px;
  font: 1.733em ProximaNovaLight,Helvetica,Arial,sans-serif;
}
.top_message {
  margin: 1em 0 0;
  font-size: 17px;
  line-height: 1.4;
  color: #000000;
}
.top_message_pic {
  min-height: 6.5rem;
}
.top_block {
  margin: 0;
  padding: 0.5em 0 1.5em 0;
  border-bottom: 1px solid #DAE3E6;
  color: #242F33;
}
.top_li {
  font-size: 0.875rem;
  color: #a0a39e;
}
.top_autor {
  font-size: 0.7rem;
  color: #50534e;
}
.top_data {
  font-size: 14px;
  color: #212221;
  margin-bottom: 5px;
}
.title-blog-top {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-shadow:2px 2px 1px #DDDDDD;
  padding-top: 5px;
}
.list-top-blogs {
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 0;
}
.list-top-blogs-ul {
  list-style: none;
  padding: 0 10px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #454545;
  background: #494b4e;
}
.btn-admin-line {
  display: none;
}
.pagination-desktop,
.pagination-mobile {
  margin-bottom: 0;
}

/*Стили для таблицы*/

.blog-mobile {
  display: none;
}
.table-blog {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #9f9f9f;
  margin-bottom: 15px;
}
.row-header-blog {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background: #8f8f8f;
}
.tblog_head_center a {
  color: #ffffff;
  text-decoration: underline;
}
.bcell {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
.row-blog:nth-child(2n+1) {
  background: #e8e8e8;
}
.row-blog:nth-child(2n) {
  background: #efefef;
}
.bcell:nth-child(3),
.my-blog-answer .bcell:nth-child(2),
.my-blogs .bcell:first-child {
  text-align: left;
}
.my-blog-answer .bcell:nth-child(3),
.my-blogs .bcell:nth-child(3) {
  text-align: center;
}

@media (max-width: 1023px) {
  .tabs-none {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-content {
    padding: 0;
  }
  .content-title {
    margin-bottom: 20px;
  }
  .ui-tabs-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ui-tabs .ui-tabs-nav {
    margin: 0 auto;
    margin-right: -0.18em;
    padding: .2em .2em 0;
  }
  .ui-tab a{
    width: 80%;
  }
  .gorizont_pic {
    display: block;
    float: none;
    width: 100%;
    height: 10rem;
    margin: auto auto 10px;
  }
  .top_block {
    text-align: justify;
    padding-bottom: 0.7em;
  }
  .top_title {
    line-height: 22px;
    margin-bottom: 10px;
  }
  .link_top {
    font-size: 18px;
  }
  .top_autor {
    margin-bottom: 3px;
  }
  .blog-top-text {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-word
  }
  .btn-admin-line {
    display: block;
    text-align: right;
    margin-top: 8px;
  }

  .ui-tabs .ui-tabs-panel {
    padding: 1em;
  }
  .pagination-mobile-bottom {
    padding-bottom: 15px;
  }

  /*Мобильная версия дублированная*/

  .table-blog {
    display: none;
  }
  .title-blog-top {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .blog-mobile {
    display: block;
  }
  .row-blog {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .bcell {
    text-align: justify;
    padding: 10px 0;
  }
  .bcell-author {
    border-bottom: 1px solid #9f9f9f;
    margin-bottom: 5px;
  }
  .blog-author-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
  }
  .blog-author {
    display: flex;
  }
  .blog-author-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  .author-nic {
    font-size: 20px;
    line-height: 23px;
  }
  .date-post,
  .blog-link-name{
    font-size: 16px;
    line-height: 18px;
  }
  .blog-link-name {
    font-weight: bold;
    text-align: justify;
  }
  .last-post-title {
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .last-answer-post {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .blog-author-answer {
    margin-left: 70px;
  }
  .last-post {
    font-size: 18px;
    line-height: 23px;
  }
  .small {
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    text-align: justify;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-word;
    margin-top: 5px;
  }
  .name-blog {
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 15px;
    padding-top: 5px;
  }
  .block-stat {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .post-stat {
    margin: 0 10px;
  }
  .btn-white {
    text-align: center;
    margin: 20px auto;
  }
}

@media (max-width: 500px) {
  .ui-tab {
    width: 47%;
  }
}


