.container_new {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}
.another_wrapper_new {
  width: 393px;
  background: #f8f8f8;
  border: 1px solid #d0d0d0;
  margin-bottom: 10px;
}
.agency_block_new {
  display: flex;
}
.foto_new {
  display: flex;
  width: 162px;
  height: 122px;
}
.foto_center_new {
  margin: auto;
}
.foto_center_new img {
  display: block;
}
.info_item_new {
  width: 231px;
  margin-top: 20px;
  margin-left: 5px;
}
.another_wrapper_new:hover {
  box-shadow: 0 5px 12px 0 rgba(41, 52, 73, 0.5);
}

@media (max-width: 1023px) {
  .container_new {
    width: 100%;
    justify-content: space-around;
  }
  .another_wrapper_new {
    width: 358px;
    margin-right: 2px;
    margin-left: 2px;
  }
  .foto_new {
    width: 180px;
  }
  .info_item_new {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .info_item_new-text {
    font-size: 18px;
  }
  .agency_date_new {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .container_new {
    flex-direction: column;
  }
  .another_wrapper_new {
    width: 298px;
    margin: 0 auto 10px;
  }
  .agency_block_new {
    flex-direction: column;
  }
  .foto_new {
    width: 100%;
  }
  .info_item_new {
    width: 100%;
    margin: 0;
  }
  .info_item_new p {
    width: 278px;
    text-align: center;
    padding: 0 10px 10px 10px;
  }
}

