.block_content_text {
    margin-bottom: 30px;
    margin-left: 75px;
}
.block_content_text p {
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
}
.block_content form input[type="text"],
.block_content select,
.block_content textarea {
    font-size: 15px;
    border: 1px solid #9c9898;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 rgba(156, 152, 152, 0.3);
}
.block_content form input[type="text"],
.block_content textarea {
    width: 498px;
}
.block_content select {
    width: 165px;
}
.block_content .form_subj {
    font-style: italic;
}
.block_content input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.block_content label {
    font-size: 16px;
}
.block_content .form_button {
    display: inline-block;
    width: 208px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-bottom: 30px;
    margin-top: 30px;
}
p.pay {
    margin-left: 35px;
    /*font-style: italic;*/
    font-size: 15px;
    line-height: 20px;
}
.button_grey {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #454545;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 150px;
    border: 1px solid #807c7b;
    background: #ececf2;
    margin-top: 20px;
}
.button_grey:hover {
     color: #454545;
     background: #e3e3e9;
     box-shadow: 0 2px 2px 0 #605d63;
 }
.button_grey:active {
    background: #ececf2;
    box-shadow: inset 0 1px 1px 0 #605d63;
}
.block_content .form_subj.pay {
    text-align: center;
    vertical-align: top;
}
.block_content.blind .form_button:hover {
    color: #ffffff;
    background: #000000;
    box-shadow: 0 2px 2px 0 #2e2c2f;
}
.block_content.blind .form_button:active {
    font-size: 14px;
    background: #000000;
    box-shadow: inset 0 2px 2px 0 #2e2c2f;
}
.block_content.blue .form_button {
    border: 1px solid #2232ce;
    background: #466dee;
}
.block_content.blue .form_button:hover {
    background: #3945d8;
    box-shadow: 0 2px 2px 0 #0b1485;
}
.block_content.blue .form_button:active {
    background: #3945d8;
    box-shadow: inset 0 2px 2px 0 #0b1485;
}

.block_content.green .form_button {
    border: 1px solid #16830c;
}
.block_content.green .form_button:hover {
    background: #16830c;
    box-shadow: 0 2px 2px 0 #04571a;
}
.block_content.green .form_button:active {
    background: #16830c;
    box-shadow: inset 0 2px 2px 0 #04571a;
}

.block_content.magenta .form_button {
    border: 1px solid #690069;
    background: #a900a9;
}
.block_content.magenta .form_button:hover {
    background: #930093;
    box-shadow: 0 2px 2px 0 #5a005a;
}
.block_content.magenta .form_button:active {
    background: #690069;
    box-shadow: inset 0 2px 2px 0 #5a005a;
}

.block_content.red .form_button {
    border: 1px solid #b72004;
    background: #b10000;
}
.block_content.red .form_button:hover {
    background: #b72004;
    box-shadow: 0 2px 2px 0 #621503;
}
.block_content.red .form_button:active {
    background: #b72004;
    box-shadow: inset 0 2px 2px 0 #621503;
}