.table_design {
  display: table;
  width: 100%;
  margin-bottom: 15px;
}
.row-header {
  display: table-row;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background: #00147c;
}
.row {
  display: table-row;
}
.row:nth-child(2n+1) {
  background: #c8d6da;
}
.row:nth-child(2n) {
  background: #d9e2e3;
}
.cell {
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}
.section,
.table-header-item {
  display: none;
}
.main-content {
  font-size: 16px;
}
.law {
  text-decoration: underline;
}
.law-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-group-template {
  margin-top: 15px;
  margin-bottom: 15px;
}
.select-group-template {
  margin-bottom: 15px;
}
.group-radio {
  display: inline-block;
  margin-right: 20px;
}
.forum-search {
  text-align: right;
  cursor: pointer;
}
.form_button {
  font-weight: bold;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.btn_in_item {
  text-align: center;
  margin: 15px 0;
}
.block_content {
  background: #f8f8f8;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 15px;
  margin-bottom: 7px;
}
.cell {
  text-align: center;
}
.table_line_0 {
  text-align: left;
}
.table_link_name {
  font-weight: bold;
}
.line_link_in a {
  font-size: 14px;
  text-decoration: underline;
}
.icon-attached {
  width: 16px;
  height: 16px;
}
.forum-table-section .row-header:first-child {
  width: 70%;
}
.forum-table-section .cell:not(:first-child) {
  text-align: center;
}
.forum-section-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


@media (max-width: 767px) {
  .main-content {
    padding: 0;
  }
  .forum-top-desktop {
    margin-top: 40px;
  }
  .table_design,
  .cell {
    display: block;
    border: none;
  }
  .row-header {
    display: none;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #000;
  }
  .table_line_0 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    order: -1;
    background: #d9e2e3;
    border: 1px solid #00297c;
    border-radius: 5px;
  }
  .table_line_center_0 {
    width: 100%;
    background: #efefef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
  }
  .section,
  .table-header-item {
    display: block;
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: bold;
  }
  .table-header-item {
    font-size: 18px;
  }
  .table_line_center {
    width: 30%;
    font-family: "Arial", "Helvetica", sans-serif;
    text-align: center;
  }
  .cell .section-name {
    text-align: left;
  }
  .table_line_center-nic {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .nic-name,
  .small {
    text-decoration: underline;
  }
  .forum-topic:nth-child(odd) {
    background: #d9e2e3;
  }
  .forum-top .forum-topic {
    background: #efefef;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .forum-table-section {
    display: none;
  }
  .forum_topic_toggle {
    line-height: 0;
    align-self: center;
  }
  .icon-topic {
    width: 32px;
    height: 32px;
  }
}
